services:
  db:
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    volumes:
      - redis_data:/data
  minio:
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  redis_data:
  minio_data: